.search-form {
  padding: 70px 70px 12px;
  display: flex;
  justify-content: center;
}

.search-form__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1140px;
}

.search-form__input-container {
  display: flex;
}

.search-form__input {
  min-height: 72px;
  width: 100%;
  border: 2px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
  padding: 0 0 0 25px;
  box-sizing: border-box;
  color: #000;
}

.search-form__input::placeholder {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: .4;
}

.search-form__button {
  background-color: #3456F3;
  width: 100px;
  height: 52px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  transition: .5s ease;
  cursor: pointer;
  margin: 10px 0 0 -110px;
  z-index: 2;
}

.search-form__button:hover {
  opacity: .7;
}


.search-form__input-error {
  min-height: 20px;
  margin: 3px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form__input-error_active {
  color: #FF3055;
}

.search-form__checkbox-container {
  margin-top: 0px;
  border-bottom: 1px solid #E8E8E8;
  min-height: 62px;
}

.search-form__checkbox-input {
  position: absolute;
  width: 170px;
  height: 20px;
  overflow: hidden;
  appearance: none;
  pointer-events: none;
}

.search-form__checkbox-label {
  transition: .5s ease;
  cursor: pointer;
}

.search-form__checkbox-label:hover {
  opacity: .7;
}

.search-form__new-checkbox {
  display: inline-block;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  padding: 0 0 0 50px;
  border-radius: 2px;   
}

.search-form__new-checkbox::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 34px;
  min-height: 14px;
  background-color: #EBEBEB;
  border-radius: 20px;
  transition: background-color .5s;
}

.search-form__new-checkbox::after {
  display: block;
  content: "";
  position: absolute;
  left: 2px;
  top: 3px;
  width: 10px;
  height: 10px;
  background-color: #FFF;
  border-radius: 5px;
  transition: left .5s;
}

.search-form__checkbox-input:checked + .search-form__new-checkbox::before {
  background-color: #2BE080;
}

.search-form__checkbox-input:checked + .search-form__new-checkbox::after {
  left: 22px;
}

@media screen and (max-width: 1280px) {
  .search-form__container {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .search-form {
    padding: 70px 50px 10px;
  }

  .search-form__button {
    right: 40px;
  }

  .search-form__checkbox-container {
    min-height: 70px;
  }
}

@media screen and (max-width: 800px) {
  .search-form {
    padding: 70px 30px 10px;
  }
}

@media screen and (max-width: 500px) {
  .search-form {
    padding: 70px 14px 10px;
  }

  .search-form__button {
    width: 80px;
    height: 44px;
    margin: 6px 0 0 -86px;
  }

  .search-form__input {
    min-height: 56px;
    padding-left: 12px;
  }

  .search-form__input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .search-form__checkbox-container {
    margin-top: 8px;
    min-height: 82px;
  }

  .search-form__checkbox-input {
    width: 155px;
  }

  .search-form__new-checkbox {
    font-size: 11px;
    line-height: 18px;
  }

  .search-form__line {
    margin-top: 64px;
  }
}