.header {
  background-color: #073042;
  display: flex;
  justify-content: center;
  padding: 0 70px;
}

.header_light {
  background-color: #FFF;
}

.header__container {
  min-height: 74px;
  width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  background-image: url(../../images/logo-main.svg);
  min-width: 38px;
  min-height: 38px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: .5s ease;
}

.header__logo:hover {
  opacity: .7;
}

.header__links-authorization {
  display: flex;
  align-items: center;
}

.header__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
  cursor: pointer;
  transition: .5s ease;
  text-decoration: none;
  color: #000;
}

.header__link:hover {
  opacity: .7;
}

.header__link_type_light {
  color: #FFF;
}

.header__link_type_login {
  min-height: 32px;
  width: 76px;
  background-color: #2BE080;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

@media screen and (max-width: 1280px) {
  .header__container {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 0 50px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 0 14px;
  }

  .header__link_type_login {
    min-height: 26px;
    width: 54px;
    margin-left: 14px;
  }

  .header__link {
    font-size: 10px;
  }
}