@import "../sassStyles/vars";

@mixin font-links($fz, $fw, $lh) {
	font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
	cursor: pointer;
  transition: $transition-setting;
  text-decoration: none;
}

@mixin breakPoint($screen) {
	@media screen and (max-width: $screen) {
		@content;
	}
}
