// цветовые наборы
$background-dark: #073042;
$background-light: #FFF;
$color-button-green: #2BE080;
$color-button-light: #FFF;
$color-button-blue: #3456F3;
$color-button-inactive: #F8F8F8;
$color-preloader: #2BE080;
$link-dark: #000;
$link-light: #FFF;
$text-light: #FFF;
$text-grey: #A0A0A0;
$text-red: #FF3055;
$text-green: #2BE080;
$line-grey: #E8E8E8;
$line-blue: #3456F3;
$line-light: #FFF;

// размеры экранов
$full-width: 100%;
$content-desctop: 1140px;
$screen-desctop: 1280px;
$screen-desctop-mini: 1100px;
$screen-tablet: 1000px;
$screen-tablet-mini: 800px;
$screen-mobile-maxi: 700px;
$screen-mobile: 500px;
$screen-mobile-mini: 450px;

// переходы и трансформации
$transition-setting: .5s ease;
$opacity-value: .7;

// Размеры прелоадера
$preloader-width: 100px;
$preloader-height: 100px;
